<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.551841037642-3umucgorq302m2102g3rsce179scs8v8</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>551841037642-3umucgorq302m2102g3rsce179scs8v8.apps.googleusercontent.com</string>
</dict>
</plist>
